.lightproxy-status-bar {
    background-color: @status-bar-background-color;
    font-size: @font-size-small;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    height: 25px;
    padding: 5px 10px 0px 10px;
    width: 100%;
    color: white;

    text-align: right;

    vertical-align: middle;

    &>*{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }
}
