<!DOCTYPE html>
<html>
  <head>
    <title><%= process.env.npm_package_productName %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./monaco.css">
    <script src="./monaco.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
